@using Aytaam.Core.Dtos.Orphans;
@model OrphanDto
<div class="modal-dialog modal-dialog-centered mw-700px">
    <div class="modal-content">
        <div class="modal-header" id="kt_modal_orphan_details_header">
            <h2 class="fw-bold"> تفاصيل أخرى</h2>
            <div class="btn btn-icon btn-sm btn-active-icon-warning" data-kt-orphan-modal-action="close">
                <span class="svg-icon svg-icon-1">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                        <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                    </svg>
                </span>
            </div>
        </div>
        <div class="modal-body scroll-y  ">
            <div class="scroll-y me-n7 " id="kt_modal_orphan_details_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_orphan_details_header" data-kt-scroll-wrappers="#kt_modal_orphan_details_scroll" data-kt-scroll-offset="300px">

                <div class="container ">
                    <div class=" text-center ">
                        <h4>أهلًا، أنا <span class="">@Model.FullName</span> وعمري <span class="">@Model.Age سنوات</span></h4>
                        <p>رقم الحالة: <strong>@Model.Code</strong></p>
                        <p>رقم الهوية: <strong>@Model.NationalIdNumber</strong></p>
                        <p>@Model.FullName يتيم عمره @Model.Age سنوات يعيش في منطقة @Model.Residence، وهو بحاجة إلى أساسيات الغذاء والملبس، بتبرعك له تسهم في كفالته وتخفف من معاناته.</p>

                        <div class="row mt-3">
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <p>الفترة المكفولة</p>
                                    <h5 class="">@(Model.NumberOfSponsorShipMonths ?? 0) أشهر</h5>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <p>فترة الكفالة المتبقية</p>
                                    <h5 class="">@(Model.NumberOfRemainderSponsorShipMonths ?? 0) أشهر</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <p>إسم الوصي</p>
                                    <h5 class="">@Model.GuardianName </h5>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <p>علاقة @Model.FullName بالوصي </p>
                                    <h5 class="">@Model.GuardianRelation </h5>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <p>عدد الأخوة</p>
                                    <h5 class="">@Model.NumberOfSiblings </h5>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <p>عدد أفراد العائلة الكلي</p>
                                    <h5 class="">@Model.TotalFamilyMembers </h5>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="card">
                                    <p>الحالة الصحية</p>
                                    <h5 class="">@Model.MedicalCondition</h5>
                                </div>
                            </div>
                        </div>
                        @if (@Model.Notes is not null)
                        {

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="card">
                                        <p>ملاحظات</p>
                                        <h5 class="">@Model.Notes</h5>
                                    </div>
                                </div>
                            </div>
                        }

                        <a class="btn btn-success mt-3" href="https://wa.me/+970567092465" target="_blank">
                            تبرع الآن
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center py-15">
            <button type="reset" class="btn btn-light me-3" data-kt-orphan-modal-action="cancel">
                إغلاق
            </button>
        </div>
    </div>
</div>

